        <footer class="container-fluid navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">
                Made with &#9774; ❤️ &#128515; ©
                <script type="text/javascript">document.write( new Date().getFullYear() );</script>.
            </p>
        </footer>
    </div>
</body>
</html>