<%- include('partials/header'); -%>

  <main class="home">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 spacing">
          <form action="/result" method="POST">
            <div class="form-group">
              <label for="pincode">Pincode:</label>
              <input type="text" class="form-control" id="pincode" name="pincode">
            </div>
            <div class="form-group">
              <label for="date">Date:</label>
              <input type="date" class="form-control" id="date" name="date">
            </div>
            <button type="submit" class="btn btn-info btn-block">Find</button>
          </form>
        </div>
        <div class="col-lg-6 spacing">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="images/pic1.jpg" alt="pic1">
              </div>
          
              <div class="item">
                <img src="images/pic2.jpg" alt="pic2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include('partials/footer'); -%>